/* Global variables */
:root {
}

.bg {
    /* overflow: hidden; */
}

.prose li {
    list-style-type: disc;
    list-style-position: inside;
}

strong {
    font-weight: bold;
}

.color__nyp-red--text {
    color: #c60800;
}
.color__nyp-red--text:hover {
    color: #ffffff;
}