---
import Layout from "../layouts/Layout.astro";
import FishHero from "../components/FishHero.astro";
import { Image } from "astro:assets";
import bgImage from "../images/bg_video_glitch.jpg";
import nasaLogo from "../images/nasa-jpl-logo.png";
import nhmLogo from "../images/nhmla-logo.png";
import SkillsGrid from "../components/SkillsGrid.astro";
import Pill from "../components/Pill.astro";
import Projects from "../components/Projects.astro";
import Jobs from "../components/Jobs.astro";
import Headshot from "../components/Headshot.astro";
import Link from "../components/Link.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Nypost from "../components/Nypost.astro";
import Footer from "../components/Footer.astro";
---


<Layout title="Grant Keller - Senior UX Software Engineer">
  <main class="relative z-0 text-emerald-200 font-prompt">
    <div class="relative block bg-black">

      <!-- <span class="absolute top-0 bottom-0 left-0 right-0 z-50 object-cover w-full h-full min-h-full mix-blend-difference opacity-20 bg-gradient-to-bl from-teal-500 to-indigo-950"></span> -->
      <!-- <span class="absolute top-0 left-0 z-0 z-50 w-full h-full opacity-50 bg-gradient-to-br from-purple-950 mix-blend-color-dodge to-blue-950"></span> -->

      <Hero />
      <Header />

      <section id="projects" class="relative">
        <Nypost />
      </section>

      <section class="relative z-10 block overflow-hidden">
        <FishHero />
      </section>

      <section id="skills" class="relative block max-w-6xl p-2 py-24 mx-auto">
        <SkillsGrid />
      </section>

      <section id="jobs" class="container block max-w-4xl px-8 pb-48 mx-auto">
        <Jobs />
      </section>

      <section id="projects" class="container block max-w-4xl px-8 mx-auto mb-48">
        <Projects />
      </section>
    </div>
  </main>
  <div
    id="bg__main"
    class="fixed top-0 left-0 z-50 w-full h-full overflow-hidden pointer-events-none mix-blend-difference opacity-60 bg"
  >
    <span class="absolute top-0 left-0 z-10 w-full h-full bg-black opacity-90"
    ></span>
    <span class="absolute top-0 left-0 w-full h-full">
      <Image
        src={bgImage}
        alt="Background"
        class="object-cover w-full h-full"
      />
    </span>
  </div>
  <Footer />
</Layout>

<style>
  .gradient-burst {
    background: radial-gradient(
      ellipse at center center,
      rgba(0, 255, 100, 0.8) 0%,
      /* rgba(0, 0, 0, 100) 50%, */ rgba(0, 255, 200, 0) 60%
    );
    background-repeat: no-repeat;
    transform: scaleY(1.8) scaleX(1.5) translateY(0%);
    mix-blend-mode: overlay;
    /* animation: burst 6s infinite; */
  }
</style>
