---
import FishHero from "../components/FishHero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Grant Keller | Anglerfish Exhibit">
  <section class="relative z-10 block overflow-hidden py-20 md:py-20">
    <FishHero />
  </section>
</Layout>
