---
import { getCollection } from "astro:content";
const projectsEntries = await getCollection("projects");
---

<h2>Projects</h2>
<ul>
  {
    projectsEntries.map((projectPostEntry) => (
      <li>
        <a href={`/${projectPostEntry.slug}`}>
          {projectPostEntry.data.title}
        </a>
        <time datetime={projectPostEntry.data.publishedDate.toISOString()}>
          {projectPostEntry.data.publishedDate.toDateString()}
        </time>
      </li>
    ))
  }
</ul>
