---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import EmbossedText from "./EmbossedText.astro";
---

<section class="relative">
  <h2>Worked with major institutions</h2>
  <EmbossedText text="Affiliations" height={20} />
</section>
