---
import type { HTMLAttributes } from "astro/types";

interface Props {
  start?: string;
  end?: string;
  class?: HTMLAttributes<"p">["class"];
}

const { start, end, class: className } = Astro.props;
---

<p class:list={["text-emphasis", "tracking-wider", className]}>
  {start && <time>{start}</time>}
  {"-"}
  {end ? <time>{end}</time> : "Present"}
</p>
