---

---

<div class="relative z-0 text-emerald-200 font-prompt pt-64">
  <div class="container mx-auto text-center px-8 py-6">
    <p class="text-sm"><span class="inline-block">Built with Astro & React in Los Angeles, CA</span><span class="mx-4"> | </span><span class="inline-block">© 2025 Grant Keller</p>
  </div>
</div>
