---

---

<div class="relative z-0 pt-64 font-prompt text-emerald-200">
  <div class="container mx-auto px-8 py-6 text-center">
    <p class="text-sm">
      <span class="inline-block"
        >Built with <a class="hover:underline" href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a
        >,
        <a class="hover:underline" href="https://react.dev/" target="_blank" rel="noopener noreferrer">React</a>,
        <a class="hover:underline" href="https://tailwindcss.com/" target="_blank" rel="noopener noreferrer">Tailwind</a> & <a
          class="hover:underline"
          href="https://daisyui.com/"
          target="_blank"
          rel="noopener noreferrer">DaisyUI</a
        > in Los Angeles, CA</span
      >
      <span class="mx-4"> | </span>
      <span class="mx-4"
        ><a href="https://github.com/GDKeller/gdkeller.github.io" target="_blank" rel="noopener noreferrer"
          >View site code on GitHub</a
        ></span
      >
      <span class="mx-4"> | </span>
      <span class="inline-block">© 2025 Grant Keller</span>
    </p>
  </div>
</div>
