---
import IconArrowRight from "./icons/IconArrowRight.astro";
import IconFileDownload from "./icons/IconFileDownload.astro";
import HeadingSection from "./HeadingSection.astro";
---

<footer class="font-body">
  <!-- CTA Section -->
  <div
    class="hazard-stripe__faint border-faint mx-auto mb-32 w-fit border-2 px-8
      py-8"
  >
    <div class="bg-background border-background mx-auto border-16 text-center">
      <div class="bg-emphasis px-24 pt-12 pb-20">
        <HeadingSection
          treatment="inverted"
          align="center"
          text="Send a Wire"
          class="mb-8"
        />
        <div
          class="bg-background mx-auto flex w-fit flex-col justify-center p-2
            sm:flex-row"
        >
          <div class="flex gap-2 transition-colors">
            <a
              href="/Grant Keller Senior UX Engineer Resume 2025.pdf"
              target="_blank"
              rel="noopener noreferrer"
              class="text-accent-hover bg-background hover:text-background-dark
                hover:bg-accent-hover border-accent-hover inline-flex
                items-center justify-center border-4 px-8 py-4 font-mono text-lg
                font-medium transition-all duration-200"
            >
              <span class="relative z-110">Download Resume</span>
              <IconFileDownload class="ml-2 h-5 w-5" />
            </a>
            <button
              data-open-modal="hire_me_modal"
              class="hover:text-background-dark border-highlight bg-background
                text-highlight hover:bg-highlight inline-flex items-center
                justify-center border-4 px-8 py-4 font-mono text-lg font-bold
                transition-all duration-200 hover:cursor-pointer"
            >
              <span>Get in Touch</span>
              <IconArrowRight class="ml-2 h-5 w-5" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Site Info -->
  <div class="border-fainter bg-background-dark border-t px-8 py-8 text-center">
    <div class="container mx-auto">
      <p class="font-mono text-sm">
        <span class="inline-block"
          >Built with <a
            class="text-emphasis hover:text-emphasis-hover hover:underline"
            href="https://astro.build/"
            target="_blank"
            rel="noopener noreferrer">Astro</a
          >,
          <a
            class="text-emphasis hover:text-emphasis-hover hover:underline"
            href="https://tailwindcss.com/"
            target="_blank"
            rel="noopener noreferrer">Tailwind</a
          > & <a
            class="text-emphasis hover:text-emphasis-hover hover:underline"
            href="https://gsap.com/"
            target="_blank"
            rel="noopener noreferrer">GSAP</a
          ></span
        >
        <span class="text-accent mx-4">᠅</span>
        <span class="inline-block"
          ><a
            class="text-emphasis hover:text-emphasis-hover hover:underline"
            href="https://github.com/GDKeller/gdkeller.github.io"
            target="_blank"
            rel="noopener noreferrer">View site repo</a
          ></span
        >
        <span class="text-accent mx-4">᠅</span>
        <span class="inline-block">© 0x7EA Grant Keller</span>
      </p>
    </div>
  </div>
</footer>
