---
import Link from "./Link.astro";
---

<div
  class="border-box sticky left-0 top-0 z-50 block w-full justify-between border-b border-emerald-200 border-opacity-10 bg-black bg-opacity-85 px-4 py-2 shadow-sm backdrop-blur transition-shadow duration-100 [transform:translate3d(0,0,0)] sm:px-8"
>
  <div class="relative flex w-full justify-between">
    <div class="box-border block">
      <nav class="mr-auto flex gap-4 font-bokor text-lg font-bold text-emerald-200 sm:text-2xl">
        <a href="#projects">Projects</a>
        <a href="#skills">Skills</a>
        <a href="#jobs">Jobs</a>
      </nav>
    </div>
    <div class="block">
      <div class="ml-8 flex items-center gap-4">
        <Link
          href="mailto:contact@grantkeller.dev"
          class="flex items-center leading-none no-underline"
        >
          <i class="fa-solid fa-envelope mr-2 inline-block text-2xl leading-none"></i><span
            class="hidden leading-none sm:inline-block">contact@grantkeller.dev</span
          >
        </Link>
        <Link href="https://www.linkedin.com/in/grantdkeller/" target="_blank">
          <i class="fa-brands fa-linkedin text-2xl"></i>
          <span class="sr-only">LinkedIn</span>
        </Link>
        <Link href="https://github.com/gdkeller" target="_blank">
          <i class="fa-brands fa-github text-2xl"></i>
          <span class="sr-only">GitHub</span>
        </Link>
      </div>
    </div>
  </div>
</div>
