---

---

<div
  class="px-8 py-2 top-0 left-0 w-full z-50 bg-black border-b border-emerald-200 border-opacity-10 sticky flex justify-end bg-opacity-60 backdrop-blur transition-shadow duration-100 [transform:translate3d(0,0,0)] shadow-sm"
>
  <nav class="flex gap-4 text-2xl font-bold text-emerald-200 font-bokor">
    <a href="#jobs">Jobs</a>
    <a href="#projects">Projects</a>
    <a href="#skills">Skills</a>
  </nav>
  <nav class="flex gap-4">
    <a
      href="https://www.linkedin.com/in/grantdkeller/"
      target="_blank">
    </a>
  </nav>
</div>
