---
import Link from "./Link.astro";
import Nav from "./Nav.astro";
---

<div
  class="border-box sticky left-0 top-0 z-50 block w-full justify-between border-b border-emerald-200 border-opacity-10 bg-black bg-opacity-85 px-4 py-2 shadow-sm backdrop-blur transition-shadow duration-100 [transform:translate3d(0,0,0)] sm:px-8"
>
  <div class="relative flex w-full justify-between">
    <div class="box-border block">
      <Nav class="" />
    </div>
    <div class="flex gap-4">
      <Link
        href="/Grant Keller Senior UX Engineer Resume 2025.pdf"
        target="_blank"
        class="mr-2 pt-2 leading-none no-underline hover:underline">Resume PDF</Link
      >
      <Link
        class="flex items-center gap-2 no-underline hover:underline"
        href="mailto:contact@grantkeller.dev"
      >
        <span class="hidden leading-none sm:inline-block">contact@grantkeller.dev</span>
        <i class="fa-solid fa-envelope inline-block text-2xl leading-none"></i>
      </Link>
      <Link href="https://www.linkedin.com/in/grantdkeller/" target="_blank">
        <i class="fa-brands fa-linkedin text-2xl"></i>
        <span class="sr-only">LinkedIn</span>
      </Link>
      <Link href="https://github.com/gdkeller" target="_blank">
        <i class="fa-brands fa-github text-2xl"></i>
        <span class="sr-only">GitHub</span>
      </Link>
    </div>
  </div>
</div>
