---
import Link from "./Link.astro";
import Nav from "./Nav.astro";
import Oscilloscope from "./Oscilloscope.astro";
import SimpleModeToggle from "./SimpleModeToggle.astro";
import IconGitHub from "./icons/IconGitHub.astro";
import IconLinkedIn from "./icons/IconLinkedIn.astro";
---

<div
  id="header__main"
  class="bg-background-dark animate__header border-box border-fainter/50 sticky
    top-0 left-0 z-200 block w-full justify-between overflow-hidden border-b
    pr-0 pl-2 shadow-sm backdrop-blur duration-100 sm:px-1"
>
  <div class="relative flex w-full items-center justify-between">
    <div class="box-border flex items-stretch gap-4">
      <Oscilloscope />
      <Nav />
    </div>
    <div class="flex items-center gap-4 text-sm">
      <SimpleModeToggle />
      <div class="hidden items-center gap-3 md:flex">
        <Link
          href="https://github.com/gdkeller"
          target="_blank"
          class="icon-link group hidden md:block"
        >
          <IconGitHub
            class="text-emphasis group-hover:text-accent-hover
              group-focus-visible:text-accent h-6 w-6 transition-all
              duration-200"
          />
          <span class="sr-only">GitHub</span>
        </Link>
        <Link
          href="https://www.linkedin.com/in/grantdkeller/"
          target="_blank"
          class="icon-link group hidden md:block"
        >
          <IconLinkedIn
            class="text-emphasis group-hover:text-accent-hover
              group-focus-visible:text-accent h-6 w-6 transition-all
              duration-200"
          />
          <span class="sr-only">LinkedIn</span>
        </Link>
      </div>

      <div class="flex gap-1">
        <Link
          href="/Grant Keller Senior UX Engineer Resume 2025.pdf"
          target="_blank"
          variant="hoverAccent"
          class="bg-background-dark hover:text-accent hover:border-accent-hover
            border-faint hidden items-center gap-1.5 border px-4 py-3 font-mono
            text-sm leading-none tracking-wide transition-all duration-200
            md:flex md:text-base"
        >
          <span>Resume</span>
        </Link>
        <button
          data-open-modal="hire_me_modal"
          aria-label="Contact"
          class="text-background-dark border-background-dark bg-emphasis
            hover:bg-accent-hover flex items-center gap-1.5 border border-dotted
            px-4 py-3 font-mono text-sm tracking-wide transition-all
            duration-200 hover:cursor-pointer md:text-base"
        >
          <span class="inline-block leading-none">Contact</span>
        </button>
      </div>
    </div>
  </div>
</div>
