---
import { Image } from "astro:assets";
import headshotGrade from "../images/headshots/grant-chinatown_grade-high_800.webp";
---

<div class="block h-full w-full">
  <Image src={headshotGrade} alt="Grant Keller headshot" class="object-cover" />
</div>
