---
import Link from "./Link.astro";
import Nav from "./Nav.astro";
import Oscilloscope from "./Oscilloscope.astro";
import SimpleModeToggle from "./SimpleModeToggle.astro";
import IconGitHub from "./icons/IconGitHub.astro";
import IconLinkedIn from "./icons/IconLinkedIn.astro";
import IconMenu from "./icons/IconMenu.astro";
---

<div
  id="header__main"
  class="sticky top-0 left-0 z-140 block w-full justify-between py-0 pr-0 pl-0
    shadow-sm duration-100"
>
  <div
    class="border-box border-fainter bg-background-dark flex w-full
      items-stretch justify-between border-y md:border-l"
  >
    <div
      class="bg-background-dark box-border hidden items-stretch gap-px sm:flex"
    >
      <Oscilloscope />
      <Nav />
    </div>
    <div class="bg-fainter ml-auto flex gap-px pl-px text-sm">
      <SimpleModeToggle />
      <div class="hidden items-center gap-px md:flex">
        <Link
          href="https://github.com/gdkeller"
          target="_blank"
          variant="subtle"
          class="icon-link group hover:bg-accent-hover bg-background-dark
            focus-visible:bg-accent-hover hidden h-8 w-8 items-center
            justify-center p-2 focus-visible:z-1 md:flex"
        >
          <IconGitHub
            class="text-emphasis group-hover:text-background-dark
              group-focus-visible:text-background-dark h-8 w-10
              transition-colors duration-200"
          />
          <span class="sr-only">GitHub</span>
        </Link>
        <Link
          href="https://www.linkedin.com/in/grantdkeller/"
          target="_blank"
          variant="subtle"
          class="icon-link group bg-background-dark hover:bg-accent-hover
            focus-visible:bg-accent-hover hidden h-8 w-8 items-center
            justify-center focus-visible:z-1 md:flex"
        >
          <IconLinkedIn
            class="text-emphasis group-hover:text-background-dark
              group-focus-visible:text-background-dark h-6 w-6 transition-colors
              duration-200"
          />
          <span class="sr-only">LinkedIn</span>
        </Link>
      </div>

      <div class="flex pr-px">
        <Link
          href="/Grant Keller Senior UX Engineer Resume 2025.pdf"
          target="_blank"
          variant="hoverAccent"
          class="bg-background-dark hover:bg-accent-hover
            hover:text-background-dark focus-visible:bg-accent-hover
            focus-visible:text-background-dark hidden items-center gap-1.5
            border-0 px-4 py-2 font-mono text-xs leading-none tracking-wide
            transition-colors duration-200 focus-visible:z-1 sm:flex"
        >
          <span>Resume</span>
        </Link>
        <button
          data-open-modal="hire_me_modal"
          aria-label="Contact"
          class="text-background-dark bg-emphasis hover:bg-highlight
            focus-visible:bg-highlight relative hidden items-center px-4 py-2
            font-mono text-xs tracking-wide transition-colors duration-150
            hover:cursor-pointer focus-visible:z-1 sm:flex"
        >
          <span>Contact</span>
        </button>
        <button
          data-open-modal="mobile_menu"
          aria-label="Open menu"
          class="text-background-dark bg-emphasis hover:bg-highlight
            focus-visible:bg-highlight relative flex h-10 w-10 items-center
            justify-center transition-colors duration-150 hover:cursor-pointer
            focus-visible:z-1 sm:hidden"
        >
          <IconMenu class="h-6 w-6" />
        </button>
      </div>
    </div>
  </div>
</div>

<style>
  #header__main :global(a:focus-visible),
  #header__main :global(button:focus-visible) {
    outline-offset: 0px;
  }
</style>
