---
import { Image } from "astro:assets";
import Headshot from "./Headshot.astro";
import HeroBackground from "./HeroBackground.astro";
import LogoCarousel from "./LogoCarousel.astro";
import frameUpper from "../images/hero_frame/hero_frame-upper.webp";
import frameLower from "../images/hero_frame/hero_frame-lower.webp";
---

<section
  id="hero"
  class="relative z-50 flex min-h-[calc(100vh-50px)] w-full max-w-full flex-col justify-end gap-0 overflow-hidden px-2 pt-0 pb-2 sm:px-8 sm:pt-10 lg:pt-12"
>
  <HeroBackground />
  <Image
    src={frameUpper}
    alt=""
    class="pointer-events-none absolute top-0 left-0 z-100 w-full select-none"
    loading="eager"
  />
  <Image
    src={frameLower}
    alt=""
    class="pointer-events-none absolute bottom-0 left-0 z-100 w-full select-none"
    loading="eager"
  />
  <div
    id="hero__content"
    class="relative z-50 mx-auto mt-auto mb-auto flex w-full max-w-full flex-col items-center justify-start px-6 pt-4 pb-4 sm:mr-0 sm:ml-0 sm:items-center sm:pr-4 sm:pl-4 md:mr-auto md:ml-auto md:flex-row md:justify-around md:px-0 md:pt-6 md:pr-6 md:pl-6 lg:mr-auto lg:pt-12 lg:pr-8 lg:pb-12 lg:pl-12"
  >
    <div
      class="relative mb-6 flex w-full flex-col items-center justify-center bg-emerald-100 p-0.5 sm:mr-auto sm:mb-auto sm:ml-auto sm:w-auto sm:flex-row sm:justify-start md:ml-auto md:w-auto md:flex-col md:items-center lg:max-w-80"
    >
      <div
        class="relative z-20 mb-6 block h-auto w-full max-w-48 overflow-hidden border-0 border-black/80 sm:mr-6 sm:w-1/3 md:mr-auto md:w-full md:max-w-64 lg:max-w-md"
      >
        <Headshot />
      </div>
      <div class="relative z-20 w-full pl-4 text-neutral-900">
        <h1
          class="z-40 mx-auto ml-0 block w-full pt-2 text-left font-mono text-4xl leading-[1em] font-light whitespace-nowrap sm:text-left sm:text-4xl md:-mt-[0.9em] md:text-4xl lg:w-full lg:text-4xl xl:text-sm"
        >
          <span class="font-bold">Subject:</span> Grant Keller
        </h1>
        <p
          class="hero__title md:text-md w-full font-mono text-xl font-light sm:text-left sm:text-2xl lg:text-sm"
        >
          <span class="font-bold">Capacity:</span> Design Engineer
        </p>
        <p
          class="hero__title md:text-md mb-4 w-full font-mono text-xl font-light sm:text-left sm:text-2xl lg:text-sm"
        >
          <span class="font-bold">Territory:</span> Los Angeles, CA
        </p>
      </div>
    </div>
    <div
      class="hero__text mt-4 mb-auto flex w-full max-w-2xl flex-col sm:w-auto md:py-4 lg:mr-auto lg:max-w-5xl lg:py-0 xl:mr-auto xl:ml-auto"
    >
      <p
        class="text-foundation relative isolate mt-0 mr-auto mb-auto ml-auto flex w-full max-w-xs flex-col flex-wrap items-start text-left text-xl sm:ml-0 sm:max-w-xl sm:text-left sm:text-lg md:mb-12 md:max-w-[48em] md:text-2xl lg:text-xl/tight"
      >
        <span
          class="relative -left-16 z-30 block w-full text-8xl leading-[0.9] font-bold break-keep whitespace-nowrap uppercase"
          >Deep space</span
        >
        <span
          class="font-bokor text-emphasis sr-only relative -left-[3.8em] z-50 -my-5 inline-flex h-8 w-8 items-center justify-center place-self-center rounded-full bg-emerald-300 text-xl leading-none tracking-widest uppercase drop-shadow-[0_0_6px_rgba(0,0,0,0.6)] text-shadow-black text-shadow-lg"
        >
          &nbsp;to&nbsp;
        </span>
        <span class="relative -left-8 z-30 mb-2 text-8xl leading-[0.9] font-bold uppercase"
          >deep sea</span
        >
        <span
          class="text-md text-emphasis relative -left-[0.75em] z-30 mt-0 mb-24 leading-none font-extralight tracking-widest"
          >&nbsp;and everywhere in between</span
        >
        <span
          class="text-emphasis block w-full max-w-[20em] text-left text-2xl leading-relaxed font-normal"
          >Building software that turns ideas <span class="inline-block"
            >into interfaces that just click.</span
          ></span
        >
      </p>
    </div>
  </div>
  <div class="left-0 z-10 mb-20 max-w-full overflow-hidden">
    <LogoCarousel />
  </div>
</section>
