---
import Pill from "./Pill.astro";
import Headshot from "./Headshot.astro";
import Link from "./Link.astro";
---

<section id="hero" class="relative z-50 w-full px-4 pb-24 pt-6 sm:px-8 sm:pt-12 lg:pt-32">
  <div
    class="relative z-10 mx-auto flex max-w-7xl flex-col items-center justify-start sm:flex-row sm:justify-start"
  >
    <div
      class="mb-6 flex w-auto flex-col items-center justify-center sm:mb-auto sm:mr-6 sm:max-w-full sm:items-start sm:justify-start md:mr-8 md:items-center lg:mr-16 xl:mr-24"
    >
      <div
        class="relative mb-4 block h-auto max-w-48 overflow-hidden rounded-xl shadow-sm shadow-teal-900 sm:max-w-none md:max-w-72 lg:max-w-sm"
      >
        <Headshot />
      </div>
      <h1
        class="hero__name mx-auto mb-6 block text-center font-marker text-4xl leading-none sm:w-min sm:text-left sm:text-6xl md:text-7xl lg:w-full lg:text-center lg:text-4xl xl:text-5xl"
      >
        Grant Keller
      </h1>
      <span class="gradient-burst absolute left-0 top-0 h-full w-full"></span>
    </div>
    <div class="hero__text sticky top-0 mb-auto flex w-full max-w-3xl flex-col lg:pt-4">
      <p
        class="mb-2 text-center text-2xl font-bold sm:text-left sm:text-3xl md:text-4xl lg:text-5xl"
      >
        Software professional&nbsp;
        <span
          class="text-md md:text-md sticky mb-8 block max-w-md font-bold sm:text-lg lg:text-3xl"
        >
          dissolving barriers between <span class="inline-block">digital machines and humans.</span>
        </span>
      </p>
      <ul class="mb-12 list-outside list-disc pl-4 text-xs md:text-sm lg:text-lg">
        <li class="mb-2 list-item">15+ years fullstack experience</li>
        <li class="mb-2 list-item">Strong focus on front-end/UX for web, mobile, IoT</li>
        <li class="mb-2 list-item">Web accessibility & performance expert</li>
        <li class="tab- mb-2 list-item">
          <span class="bold">Code Polyglot: </span>diverse skillset to solve problems across
          disciplines
        </li>
      </ul>
      <div
        class="mb-6 flex flex-row justify-center gap-1 pl-2 sm:flex-col sm:items-start sm:gap-2 md:flex-row md:justify-start"
      >
        <Pill>Web UX</Pill>
        <Pill>Stable Diffusion AI</Pill>
        <Pill>Embedded Systems</Pill>
      </div>
    </div>
  </div>

  <div class="huge font-marker text-fuchsia-600 opacity-15 mix-blend-hard-light">
    UX
    <span class="plus block font-bokor text-emerald-200">+</span>AI
  </div>
</section>

<style>
  #hero {
    min-height: calc(90vh - 1rem);
    z-index: 99;
    overflow: hidden;
  }

  .hero__name {
    line-height: 0.8;
  }

  #hero .huge {
    font-size: 40vw;
    display: block;
    position: absolute;
    margin-left: -0.05em;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, -8%, 0);
    width: 100vw;
    line-height: 0.7;
    letter-spacing: -0.1em;
  }

  #hero .huge .plus {
    font-size: 45vw;
    mix-blend-mode: difference;
    top: 50%;
    position: absolute;
    left: 50%;
    line-height: 1;
    z-index: 100;
    transform: translate3d(-56%, -47%, 0);
  }
</style>
