---
import { getCollection } from "astro:content";
import JobSingle from "./JobSingle.astro";

const jobs = await getCollection("jobs");
const sortedJobs = jobs.sort((a, b) => (a.data.order ?? 0) - (b.data.order ?? 0));
---

<h2 class="mb-16 font-bokor text-5xl md:text-6xl">Experience</h2>
<ul>
  {
    sortedJobs.map((job) => (
      <li class="mb-4">
        <JobSingle {job} />
      </li>
    ))
  }
</ul>
