---
import Link from "./Link.astro";

const { job } = Astro.props;
const { data } = job;
const { company, companyWebsite, position, startMonthYear, endMonthYear } =
  data;

const { Content } = await job.render();
---

<div class="mb-20 job-card">
  <div class="flex sm:flex-row flex-col justify-start mb-2 text-2xl md:text-3xl lg:text-4xl font-bayon">
    <h3 class="font-bold text-fuchsia-500">{position}</h3>
    <span class="sm:block hidden mx-2 font-bokor"> @ </span>
    <Link href={companyWebsite} target="_blank">
      {company}
    </Link>
  </div>

  <p class="mb-8 italic">
    {startMonthYear ? startMonthYear : null} -
    {endMonthYear ? endMonthYear : "Present"}
  </p>

  <div class="prose job-body">
    <Content />
  </div>
</div>

<style>
  .job-body {
    /* line-height: 1.2; */
    p {
      @apply mb-5;
    }
    li {
      list-style-type: disc;
      list-style-position: outside;
      @apply mb-2 ml-4 pl-2;
    }
  }
</style>
