---
const { class: className } = Astro.props;
---

<nav
  class:list={[
    "mr-auto flex gap-4 font-bokor text-lg font-bold text-emerald-200 sm:text-2xl",
    className,
  ]}
>
  <a href="#featured" class="hover:text-emerald-100 transition-colors">Work</a>
  <a href="#skills" class="hover:text-emerald-100 transition-colors">Skills</a>
  <a href="#jobs" class="hover:text-emerald-100 transition-colors">Experience</a>
  <a href="#projects" class="hover:text-emerald-100 transition-colors">Projects</a>
</nav>
