---
const { class: className } = Astro.props;
---

<nav
  class:list={[
    "mr-auto flex gap-4 font-bokor text-lg font-bold text-emerald-200 sm:text-2xl",
    className,
  ]}
>
  <a href="#featured">Work</a>
  <a href="#skills">Skills</a>
  <a href="#jobs">Experience</a>
  <a href="#projects">Projects</a>
</nav>
