---
import { getCollection } from "astro:content";
import ProjectSingle from "./ProjectSingle.astro";
import HeadingSection from "./HeadingSection.astro";

const projects = await getCollection("projects");
const sortedProjects = projects.sort(
  (a, b) => (a.data.order ?? 0) - (b.data.order ?? 0),
);
---

<HeadingSection
  text="Projects"
  as="h2"
  class="mb-8 md:mb-16"
  animate={true}
  align="left"
/>
<ul>
  {
    sortedProjects.map((project) => (
      <li class="mb-4">
        <ProjectSingle {project} />
      </li>
    ))
  }
</ul>
