---
import { getCollection } from "astro:content";
import ProjectSingle from "./ProjectSingle.astro";

const projects = await getCollection("projects");
console.log(projects);
---

<h2 class="mb-4 text-4xl font-bayon">Projects</h2>
<ul>
  {
    projects.map((project) => (
      <li class="mb-4">
        <ProjectSingle {project} />
      </li>
    ))
  }
</ul>
