---
interface Props {
  spacing?: "default" | "large";
}

const { spacing = "default" } = Astro.props;

const spacingClasses = {
  default: "my-16",
  large: "my-20",
};
---

<div
  role="separator"
  aria-hidden="true"
  class:list={["mx-auto max-w-6xl px-8", spacingClasses[spacing]]}
>
</div>
