---
import SkillBadge from "./SkillBadge.astro";
---

<div class="mx-auto mb-24 max-w-4xl px-8 pt-24 text-center">
  <h2 class="sr-only">Skills</h2>
  <p class="mb-4 font-bokor text-4xl sm:text-4xl md:text-5xl lg:text-6xl">Tools of the Trade</p>
  <p class="mb-6">
    <span class="divider divider-neutral mx-auto max-w-xs text-xs">at home on</span>&nbsp;<span
      class="font-bayon text-4xl">Mac, Linux & Windows</span
    >
  </p>
</div>
<div class="flex flex-col gap-2 sm:grid sm:grid-cols-2 lg:grid-cols-3">
  <SkillBadge text="Javascript">
    <ul class="list list-outside list-disc pl-4">
      <li>Typescript</li>
      <li>React</li>
      <li>GSAP</li>
      <li>ThreeJS</li>
      <li>Astro / Gatsby</li>
      <li>Node</li>
      <li>NextJS</li>
      <li>Express / Fastify</li>
    </ul>
  </SkillBadge>
  <SkillBadge text="WordPress/PHP">
    <ul class="list list-outside list-disc pl-4">
      <li>Custom theme development</li>
      <li>Custom plugin development</li>
      <li>WordPress VIP hosting platform</li>
      <li>Advanced Custom Fields</li>
      <li>WooCommerce</li>
      <li>Custom membership systems</li>
      <li>WP-specific performance</li>
      <li>Custom post types</li>
    </ul>
  </SkillBadge>
  <SkillBadge text="CSS">
    <ul class="list list-outside list-disc pl-4">
      <li>Sass/SCSS</li>
      <li>CSS Animations</li>
      <li>Tailwind / Bootstrap</li>
      <li>Advanced CSS techniques</li>
      <li>Webpack / Turbo / Vite</li>
      <li>Responsive at all sizes</li>
      <li>Cross-browser compatibility</li>
    </ul>
  </SkillBadge>
  <SkillBadge text="HTML">
    <ul class="list list-outside list-disc pl-4">
      <li>Information Architecture</li>
      <li>Technical SEO</li>
      <li>Advanced Accessibility / WCAG 2.2</li>
      <li>Advanced Performance</li>
      <li>Analytics (GA4, Custom)</li>
      <li>Google Ads / Adslot</li>
      <li>CRO / Heatmaps / A/B Testing</li>
    </ul>
  </SkillBadge>
  <SkillBadge text="Python">
    <ul class="list list-outside list-disc pl-4">
      <li>Stable Diffusion / Comfy UI</li>
      <li>Computer Vision / OpenCV</li>
      <li>Tensorflow / PyTorch</li>
      <li>Flask</li>
      <li>Tkinter / Qt</li>
      <li>Executables via PyInstaller</li>
      <li>Portable Distribution</li>
      <li>Anaconda / Virtual Env</li>
    </ul>
  </SkillBadge>
  <SkillBadge text="C++">
    <ul class="list list-outside list-disc pl-4">
      <li>Arduino Ecosystem</li>
      <li>ESP32 / Espressif toolchain</li>
      <li>PlatformIO</li>
      <li>OTA Updates</li>
      <li>Captive WiFi portal</li>
      <li>API fetching</li>
      <li>Data parsing</li>
      <li>LED and peripherals</li>
    </ul>
  </SkillBadge>
</div>
