---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="skill-item border-fainter bg-background-dark h-full border-t border-l">
  <div class="skill-item__inner relative z-110 h-full pt-4 pb-16">
    <h3
      class="text-emphasis border-fainter relative z-110 mb-8 border-b px-8 pb-4 font-mono text-xl font-light tracking-wider uppercase"
    >
      <span class="text-accent -tracking-[0.3em]">:::</span>
      <span class="relative z-110">
        {text}
      </span>
    </h3>
    <slot />
  </div>
</div>

<style>
  @reference "tailwindcss";
  .skill-item {
    &::before {
      content: "";
    }
    &::after {
      content: "";
    }
  }
</style>
