---
import SkillsCard from "./SkillsCard.astro";
---

<div class="mx-auto mb-16 max-w-3xl px-8 text-center">
  <h2 class="sr-only">Skills</h2>
  <p class="font-bokor text-5xl/[0.8em] md:text-6xl/[0.8em]">Tools of the Trade</p>
  <p class="mb-8">
    <span class="divider divider-neutral mx-auto max-w-xs text-xs">at home on</span>&nbsp;<span
      class="font-bayon text-4xl">Mac, Linux & Windows</span
    >
  </p>
</div>
<div class="skills-grid flex flex-col gap-6 pb-4 pr-4 sm:grid sm:grid-cols-2 lg:grid-cols-3">
  <SkillsCard text="Javascript">
    <ul class="list flex flex-col gap-2">
      <li>Typescript</li>
      <li>React / React Native</li>
      <li>GSAP / Framer Motion</li>
      <li>Astro / Gatsby</li>
      <li>Node.js</li>
      <li>Next.js</li>
      <li>Express / Fastify</li>
      <li>ThreeJS</li>
      <li>TUI</li>
    </ul>
  </SkillsCard>
  <SkillsCard text="CSS">
    <ul class="list flex flex-col gap-2">
      <li>Sass/SCSS</li>
      <li>Advanced CSS Animations</li>
      <li>Tailwind / Semantic Systems</li>
      <li>BEM / Component Systems</li>
      <li>Vite / Turbo / Webpack</li>
      <li>Responsive at all sizes</li>
      <li>Cross-browser compatibility</li>
    </ul>
  </SkillsCard>
  <SkillsCard text="HTML">
    <ul class="list flex flex-col gap-2">
      <li>Information Architecture (IA)</li>
      <li>Technical SEO</li>
      <li>Accessibility WCAG 2.2 Compliance</li>
      <li>Core Web Vitals / Performance Optimization</li>
      <li>Analytics (GA4, Custom)</li>
      <li>Google Ads / Adslot</li>
      <li>CRO / Heatmaps / A/B Testing</li>
    </ul>
  </SkillsCard>
  <SkillsCard text="WordPress/PHP">
    <ul class="list flex flex-col gap-2">
      <li>Custom themes & plugins</li>
      <li>WordPress VIP hosting</li>
      <li>Advanced Custom Fields</li>
      <li>WooCommerce</li>
      <li>Custom membership systems</li>
      <li>WP-specific performance</li>
      <li>Custom post types</li>
    </ul>
  </SkillsCard>
  <SkillsCard text="Python">
    <ul class="list flex flex-col gap-2">
      <li>Stable Diffusion / Comfy UI</li>
      <li>Computer Vision / OpenCV</li>
      <li>Tensorflow / PyTorch</li>
      <li>Flask</li>
      <li>Tkinter / Qt</li>
      <li>Executables via PyInstaller</li>
      <li>Portable Distribution</li>
      <li>Anaconda / Conda / Virtual Env</li>
    </ul>
  </SkillsCard>
  <SkillsCard text="C++">
    <ul class="list flex flex-col gap-2">
      <li>ESP32 / Espressif toolchain</li>
      <li>Arduino Ecosystem</li>
      <li>PlatformIO</li>
      <li>OTA Updates</li>
      <li>Captive WiFi portal</li>
      <li>API fetching</li>
      <li>Data parsing</li>
      <li>LED and peripherals</li>
    </ul>
  </SkillsCard>
</div>
