---
import SkillBadge from './SkillBadge.astro'
---


<h2 class="mb-4 text-4xl font-bayon">Tools of the Trade</h2>

<p class="mb-6">At home on Mac, Linux & Windows</p>

<div class="grid grid-cols-3 gap-2">
    <SkillBadge text="Javascript">
        <ul>
            <li>Typescript</li>
            <li>React</li>
            <li>GSAP</li>
            <li>ThreeJS</li>
            <li>Node</li>
            <li>Express</li>
            <li>Fastify</li>
            <li>Astro</li>
            <li>NextJS</li>
            <li>Gatsby</li>
        </ul>
    </SkillBadge>
    <SkillBadge text="HTML">
        <ul>
            <li>Information Design</li>
            <li>Technical SEO</li>
            <li>Advanced Accessibility</li>
            <li>WCAG 2.1 compliance</li>
            <li>Advanced Performance</li>
            <li>Analytics</li>
            <li>Google Ads</li>
            <li>Heatmaps</li>
            <li>A/B Testing</li>
        </ul>
    </SkillBadge>
    <SkillBadge text="CSS">
        <ul>
            <li>Sass/SCSS</li>
            <li>CSS Animations</li>
            <li>Tailwind</li>
            <li>Bootstrap</li>
            <li>Advanced CSS techniques</li>
            <li>Webpack</li>
            <li>Turbo</li>
            <li>Vite</li>
        </ul>
    </SkillBadge>
    <SkillBadge text="Python">
        <ul>
            <li>OpenCV</li>
            <li>Tensorflow</li>
            <li>Flask</li>
            <li>Tkinter, Qt</li>
            <li>Executables via PyInstaller</li>
            <li>Portable Disributables</li>
        </ul>

    </SkillBadge>
    <SkillBadge text="C++">
        <ul>
            <li>Arduino</li>
            <li>ESP32</li>
            <li>Espressif toolchain</li>
            <li>PlatformIO</li>
            <li>OTA Updates</li>
            <li>Captive WiFi portal</li>
            <li>API fetch</li>
            <li>Data parsing</li>
        </ul>
    </SkillBadge>
    <SkillBadge text="WordPress/PHP">
        <ul>
            <li>Custom theme development</li>
            <li>Custom plugin development</li>
            <li>WordPress VIP hosting platform</li>
            <li>Advanced Custom Fields</li>
            <li>WooCommerce</li>
            <li>Custom membership systems</li>
        </ul>
    </SkillBadge>
</div>