---
import SkillBadge from './SkillBadge.astro'
---

<div class="grid grid-cols-6 gap-2">
    <SkillBadge text="React" />
    <SkillBadge text="Python" />
    <SkillBadge text="Sass/SCSS" />
    <SkillBadge text="GSAP" />
    <SkillBadge text="C++" />
    <SkillBadge text="PHP" />
</div>