<div
  role="presentation"
  class="header__billboard huge pointer-events-none absolute left-1/2 top-0 z-30 hidden w-full -translate-x-1/2 select-none text-center font-marker text-fuchsia-600 opacity-15 mix-blend-hard-light sm:block"
>
  UX<span class="plus z-100 font-bokor text-emerald-200 mix-blend-difference">+</span>AI
</div>

<style>
  .huge {
    font-size: 30vw;
    margin-left: -0.1em;
    line-height: 0.7;
    letter-spacing: -0.1em;
  }

  .huge .plus {
    font-size: 45vw;
    /* mix-blend-mode: difference; */
    /* top: 50%;
    position: absolute;
    left: 50%; */
    line-height: 1;
    /* z-index: 100; */
    /* transform: translate3d(-56%, -47%, 0); */
  }
</style>
